* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #262a34;
}

li{
  list-style: none;
  margin-top: 10px;
  font-size: smaller;
  font-weight: lighter;
}


.menuButton {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 3rem;
  height: 5rem;
  z-index: 4;
}

a {
  color: white;
  text-decoration: none;
}

canvas{
  height: 100vh;
  width: 100vw;
}


.homeContent {

  width: 100%;

}

.homeQuote {

  width: 100%;
}

.menuButton .bar1,
.bar2,
.bar4 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
}

.menuButton .bar3 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: white;
  border-radius: 5px;
}

.menuSlider {
  position: fixed;
  right: -50%;
  height: 100vh;
  width: 30vw;
  color: white;
  top: 0px;
  background-color: rgba(66, 87, 97, 0.35);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 10vh;
  justify-items: center;
  font-size: 30px;
  padding-top: 15vh;
}

.menuItem {}

.menuSlider li {
  list-style: none;
}

.menuSlider .menuItem {
  position: relative;
  float: left;
}

.change .bar1 {
  opacity: 0;
}

.change .bar2 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}

.change .bar4 {
  opacity: 0;
}

.changed {
  right: 0 !important;
}



.rootContainer {}

.homeContainer {
  height: 100vh;
  color: aqua;
}

.homeLogo {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  color: #ff5722;
  font-size: 50px;
}
/*   about section */

.aboutContentBox{
  height: 300px;
  width: 100vw;
}

.aboutContent{
  height: 300px;
  background-color: #ff5722;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 30px;
}

.aboutContainer {
  height: 600px;
  padding-top: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: -50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;

  grid-gap: 5px;

  padding-left: 10px;
  padding-right: 10px;

  /*background: rgb(38,42,52);*/
}

.Icon{
  margin-top: 20px;
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}

.backendIcon{
  margin-top: 20px;
  height: 80px;
  width: 80px;

}

.cardTitle{
  font-weight: 700;
  font-size: 20px;
  color: #262a34;
  margin-bottom: 20px ;
}

.cardHeading{
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #ff5722;
}

.cardContent{
  font-size: small;
  font-weight: lighter;
}

.devCard {
  padding-left: 10px;
  padding-right: 10px;
}

.designer {
  border-radius: 12px;
  background:white;
  text-align: center;

}

.frontEnd {
  border-radius: 12px;
  background-color: white;
  text-align: center;

}

.backEnd {
  border-radius: 12px;
  background-color: white;
  text-align: center;
}


.projectWrapper{
  
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100vh;
  width: 100vw;
  background-color: white;

}
.projectsContainer {
  margin-left: 20vw;
  margin-right: 20vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 200px 200px;
  grid-auto-rows: 200px;
  background-color: white;
}

.projectHeading{
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
}

.p1 {
  grid-row: 2/3;
  grid-column: 1/2;
  box-shadow: 5px 5px 5px rgba(233, 240, 243, 0.5), 0 0 0 1px #ff5722;

  
}

.p2 {
  grid-row: 2/3;
  grid-column: 2/3;

  box-shadow: 5px 5px 5px rgba(233, 240, 243, 0.5),0 0 0 1px #ff5722;

}

.p3 {
  grid-row: 2/3;
  grid-column: 3/4;

  box-shadow: 5px 5px 5px rgba(233, 240, 243, 0.5),0 0 0 1px #ff5722;

}

.p4 {
  box-shadow: 5px 5px 5px rgba(233, 240, 243, 0.5),0 0 0 1px #ff5722;

  grid-row: 3/4;
  grid-column: 1/2;

}

.p5 {
  grid-row: 3/4;
  grid-column: 2/3;

  box-shadow: 5px 5px 5px rgba(233, 240, 243, 0.5),0 0 0 1px #ff5722;

}

.project{
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
  border-color: #ff5722;
}

.project a {
  color :black;
}

.contactContainer {
  height: 100vh;
  background-color: lightseagreen;
}