
@import "./variables";
@import "./hamberger";



@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}



body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightblue;
}


.rootContainer{
    margin-left: 20vw;
    margin-right: 20vw;
}

.homeContainer{

    @include flexCenter();
    height: 100vh;
    color: white;
    background-color: lightcoral;
}

  .homeLogo{

    position: absolute;
    top: 15px;
    left: 15px;
    height: 20px;
    width: 20px;;
    color: black;
    font-size: 20px;;
}

.aboutContainer{
    height: 100vh;
    background-color: lightgoldenrodyellow;
}

.projectsContainer{
    height: 100vh;
    display: gird;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: 20px 20px;
    background-color: lightgreen;
    grid-template-areas: 
    "p1 p2 p3",
    "p4 p5"
    ;
}

.p1{
    grid-area: p1 ;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.p4{
    grid-area: p4;
}
.p5{
    grid-area: p5;
}

    
.contactContainer{
    height: 100vh;
    background-color: lightseagreen;
}

