* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: 'LogoFont';
  src: url('../fonts/AboveDemoRegular-lJMd.ttf')  format('truetype');
}

a{
  text-decoration: none;
  color: white;
}


.hide{
  opacity: 0;
  transition: all  0.2s;
}
.show{
 opacity: 1;
  transition: all 0.2s;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #262a34;
  -webkit-font-smoothing: antialiased;
}

li{
  list-style: none;
  margin-top: 10px;
  font-size: smaller;
  font-weight: lighter;
}


.menuButton {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 3rem;
  height: 5rem;
  z-index: 4;
}

canvas{
  height: 100vh;
  width: 100vw;
}


.homeContent {

  width: 100%;

}

.homeQuote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 30px;
}

.menuButton .bar1,
.bar2,
.bar4 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));

}

.menuButton .bar3 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
}

.menuSlider {
  position: fixed;
  right: -50%;
  height: 100vh;
  width: 30vw;
  color: white;
  top: 0px;
  background-color: rgba(66, 87, 97, 0.35);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 10vh;
  justify-items: center;
  font-size: 30px;
  padding-top: 15vh;
}

.menuItem a:hover {
  color: #ff5722;
}

.menuSlider li {
  list-style: none;
}

.menuSlider .menuItem {
  position: relative;
  float: left;
}



.desktopMenu{
  position: absolute;
  right: 100px;
  width: 50vw;
  top:20px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  grid-column-gap: 10px;
  color: white;
}

.deskMenuOptions{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
}

.deskMenuOptions a:hover {
  color: #ff5722;
}

.change .bar1 {
  opacity: 0;
}

.change .bar2 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}

.change .bar4 {
  opacity: 0;
}

.changed {
  right: 0 !important;
}



.rootContainer {
  scroll-behavior: smooth;
}

.homeContainer {
  height: 100vh;
  color: aqua;
}

.homeLogo {
  font-family: 'LogoFont';
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  color: #ff5722;
  font-weight: 800;
  font-size: 40px;
}
/*   about section */

.aboutContentBox{
  height: 300px;
  width: 100vw;
  
}

.aboutContent{
  height: 300px;
  background-color: #4e6571;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.aboutHeading{
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 30px;

}

.aboutText{
  font-size: 15px;
  font-weight: lighter;
}

.aboutContainer {
  height: 600px;
  padding-top: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: -50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-gap: 5px;
  padding-left: 10px;
  padding-right: 10px;

  /*background: rgb(38,42,52);*/
}



.Icon{
  margin-top: 20px;
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}

.backendIcon{
  margin-top: 20px;
  height: 80px;
  width: 80px;

}

.cardTitle{
  font-weight: 700;
  font-size: 20px;
  color: #262a34;
  margin-bottom: 20px ;
}

.cardHeading{
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #ff5722;
}

.cardContent{
  font-size: small;
  font-weight: lighter;
}

.devCard {
  padding-left: 10px;
  padding-right: 10px;
}

.designer {
  border-radius: 12px;
  background:white;
  text-align: center;

}

.frontEnd {
  border-radius: 12px;
  background-color: white;
  text-align: center;

}

.backEnd {
  border-radius: 12px;
  background-color: white;
  text-align: center;
}


.projectWrapper{
  
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 120vh;
  width: 100vw;
  background-color: #f4f4f4;

}
.projectsContainer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 20vw;
  margin-right: 20vw;
  min-height: 100vh;
  max-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 150px 300px;
  grid-auto-rows: 300px;
  background-color: #f4f4f4;
  grid-template-areas: 
  ". proHeading ."
  "p1 p1 p2"
  "p1 p1 p2"
  "p3 p4 p2"
  "p3 p5 p6";
}

.projectHeading{
  grid-area: proHeading;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
}

.p1 {
  grid-area: p1;
  background-image: url("../images/vegan1.png");
  background-size: cover;
  background-repeat: no-repeat;

  
}

.p2 {
  grid-area: p2;


}

.p3 {
  grid-area: p3;


}

.p4 {
  grid-area: p4;
 

}

.p5 {
  grid-area: p5;


}

.p6{
  grid-area: p6;
}

.project{
  cursor: pointer;
  position: relative;
  float: left;
  box-shadow: 4px 4px 12px black;
}

.project a {
  color :black;
}

.project:hover  .titleBar{
  display: grid;
}
.project:hover .proMask{
  display: block;
}


.proMask{
  display: none;
  position: absolute;
  background-color: #262a34;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s;
  transition:  0.5s ;
}


.titleBar{
  position: absolute;
  height: 100%;
  top:0;
  align-items: center;
  width: 100%;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 50px 50px 50px auto ;
  padding: 10px;
  grid-column-gap: 10px;
  
  grid-template-areas: 
  ". . . ."
  ". proTitle proTitle ."
  ". showBtn showBtn ."
  " . viewBtn viewBtn . "
  ;
  -webkit-transition: 0.5s;
  transition:  0.5s;

}

.projName{
  color: white;
  grid-area: proTitle;
  text-align: center;
  font-size: 20px;
}



.viewBtn{
  grid-area: viewBtn;
  border: none;
	font-family: inherit;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
  position: relative;
  background-color: #cb4e4e ;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
  transition: none;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  height: 30px;
  opacity: unset;
}

.viewBtn:hover{
  box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.viewBtn:active{
  box-shadow: 0 0 #ab3c3c;
	top: 6px;
}


.showBtn{
 grid-area: showBtn;
 align-self: center;
 justify-self: center;

  border: none;
	font-family: inherit;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
  position: relative;
  background-color: #4e6571;
	color: #fff;
	box-shadow: 0 6px #262a34;
	-webkit-transition: none;
	-moz-transition: none;
  transition: none;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  height: 30px;
  opacity: 1 !important;
}

.showBtn:hover{
  box-shadow: 0 4px #262a34;
	top: 2px;
}

.showBtn:active{
  box-shadow: 0 0 #262a34;
	top: 6px;
}



.contactContainer {
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-auto-rows: 150px;
  grid-row-gap: 20px;
  grid-template-areas: 
  ". contactInfo ."
  ". socialLinks  .";
}

.contactInfo{
  grid-area: contactInfo;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
  grid-template-areas: 
  "contactTitle"
  "emailBox"
  "phoneBox";
}

.socialLinks{
  grid-area: socialLinks;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  grid-template-areas: 
  "lik git insta twit";
}

.contactTitle{
  grid-area: contactTitle;
  justify-self: center;
  font-size: 25px;
  color: white;
  font-weight: 800;
}

.emailBox{
  cursor: pointer;
  grid-area: emailBox;
  justify-self: center;
}

.phoneBox{
  grid-area: phoneBox;
  justify-self: center;
  color: white;
}

.linkedInBox{
  cursor: pointer;
  grid-area: lik;
  justify-self: center;
 
}

.linkedInBox img{
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(115deg) brightness(110%) contrast(101%);
  height: 40px;
  width: 40px;
}

.linkedInBox img:hover{
  filter: invert(42%) sepia(100%) saturate(2766%) hue-rotate(347deg) brightness(105%) contrast(101%);
}

.githubBox{
  cursor: pointer;
  grid-area: git;
  justify-self: center;
 
}
.githubBox img{
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(115deg) brightness(110%) contrast(101%);  height: 40px;
  width: 40px;
}
.githubBox img:hover{
  filter: invert(42%) sepia(100%) saturate(2766%) hue-rotate(347deg) brightness(105%) contrast(101%);
}

.instaBox{
  cursor: pointer;
  grid-area: insta;
  justify-self: center;
 
  
}

.instaBox img{
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(115deg) brightness(110%) contrast(101%);
  height: 40px;
  width: 40px;
}
.instaBox img:hover{
  filter: invert(42%) sepia(100%) saturate(2766%) hue-rotate(347deg) brightness(105%) contrast(101%);
}

.twitterBox{
  cursor: pointer;
  grid-area: twit;
  justify-self: center;

}

.twitterBox img{
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(115deg) brightness(110%) contrast(101%);
  height: 40px;
  width: 40px;
}

.twitterBox img:hover{
  filter: invert(42%) sepia(100%) saturate(2766%) hue-rotate(347deg) brightness(105%) contrast(101%);
}

.footerContainer{
  margin: 10px;
  color: #f4f4f4;
  text-align: center;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen  and (min-width: 300px)  and (max-width: 812px) {
  
  .desktopMenu{
    display: none;
  }

  .aboutContainer{
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .projectsContainer{
    margin-left: 5vw;
    margin-right: 5vw;
  }


}

